{% extends "layout.html" %}
{% block title %}
<h1>About</h1>
{% endblock %}
{% block content %}
<h3>About the channel</h3>
<p>
#TechPoniesAfterDark was originally created as a bit of a joke channel.<br>
It happened something like this: Someone did something lewd in #techponies, and someone else joked to "take it to #TechPoniesAfterDark".
<br>
A couple people joined that channel as a joke, and everyone just sort of stayed and more people started joining, and it turned into its own little channel and stayed that way.<br>
<br>
The channel was originally registered by AppleDash, but nobody "owns" the channel. Everyone with privileges have op status in the channel and all have the same flags, aside from AppleDash who also has +F since somebody has to have it.
{% endblock %}