{% extends "layout.html" %}
{% block title %}
<h1>Rules</h1>
{% endblock %}
{% block content %}
<h3>The bots of TPAD</h3>
<h4>Derpy</h4>
<p>Derpy is a Python IRC bot, originally created by sirtophat of PonyChat, but now maintained by AppleDash and ran on Canternet by him.
<br>
   Derpy has many features, the most notable of which being her markov-like chat functionality; you may speak to her by addressing her with "derpy, some words" or "derpy, a question?". She also has many commands, a list of which can be viewd by typing !derpy in chat.
</p>
<h4>Chance</h4>
<p>
    Chance is an <a href="http://www.eggheads.org/">eggdrop</a> bot running the <a href="http://bmotion.net">bMotion</a> script. Not really much I can explain here, he has no commands, you really just need to figure him out for yourself. He is ran by AppleDash.
</p>
<h4>PinkiePieBot</h4>
<p>
    PinkiePieBot is a bot by Kinsley. Nobody actually knows what she does, but that's alright beause she's fun anyways.
</p>
<h4>BurpyHooves</h4>
<p>
    BurpyHooves is a bot by GyroTech, originally intended for a vore channel, but also joined to TPAD for some reason.
</p>
{% endblock %}