{% extends "layout.html" %}
{% block title %}
<h1>Rules</h1>
{% endblock %}
{% block content %}
<h3>Rules of TPAD</h3>
<p>TPAD has very few solid "rules". You can find them below.</p>
<ul>
    <li>Don't be a dick. Ops collectively define what a /dick/ is, within reason.</li>
    <li>No racial, homophobic, or other offensive slurs.</li>
</ul>
<p>If you break these rules, you will be kicked, and if you repeatedly break them, you will be temporarily muted and/or possibly temporarily or permanently banned.
<br>
    These rules are subject to change at any time, including on-the-fly whenever a majority of channel ops see fit. (Within reason.)
</p>
{% endblock %}